@import "../../../styles/base";

.HomeSkillsContainer {
  padding: 4em;

  .Content {
    display: flex;

    .Text {
      flex: 1;
      display: flex;
      justify-content: center;
      place-items: center center;
      height: 50vh;

      .TextContainer {
        width: 45%;

        p {
          color: $descriptionColor;
        }

        h2 {
          color: $primaryColor;
        }
      }
    }

    .GridSkillsContainer {
      flex: 1;
      justify-content: center;
      align-content: center;
      place-items: center center;
      overflow: hidden;
      padding: 5em;
      grid-auto-rows: 1fr;

      .LineDivider {
        margin-bottom: 2em;
        height: 1px;
        width: 100%;
        background: $blackColor;
      }

      .Item {
        p {
          max-lines: 4;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 6; /* number of lines to show */
          -webkit-box-orient: vertical;
          color: $descriptionColor;
          height: 140px;
        }

        h3 {
          color: $primaryColor;
        }
      }
    }
  }
}