<div class="HighlightWebsite">
  <div class="MainArea">
    <p class="Header">Frontend Developer</p>
    <h1>Yazan Tarifi</h1>
    <p class="Description"> I always try to build auxiliary tools to develop OOP Projects, Likes to
      build and modify open source projects , I have a complete passion and super fast learning when trying new technologies
       Solid Understanding of mobile and Software life cycle (SDLC) with all architectures for mobile frameworks </p>
</div>
</div>

<div data-v-13380a2c="" class="ServicesComponent">
  <h5 data-v-13380a2c="" class="Title">What I Do</h5>
  <div data-v-13380a2c="" class="container">
      <div data-v-13380a2c="" class="row">
          <div data-v-13380a2c="" class="col-sm">
              <div data-v-13380a2c="" id="ItemOne" class="card"><img data-v-13380a2c="" src="https://img.icons8.com/cotton/64/000000/android-os.png">
                  <p data-v-13380a2c="">Frontend Side</p>
                  <h5 data-v-13380a2c="" id="Title">Android Applications</h5>
                  <p data-v-13380a2c="">Design, Maintain Android Applications With Responsive Layouts , Latest Technologies, Strong Infastructure</p>
              </div>
          </div>
          <div data-v-13380a2c="" class="col-sm">
              <div data-v-13380a2c="" id="ItemTow" class="card"><img data-v-13380a2c="" src="https://img.icons8.com/cotton/64/000000/source-code--v2.png">
                  <p data-v-13380a2c="">Backend Side</p>
                  <h5 data-v-13380a2c="">SpringBoot</h5>
                  <p data-v-13380a2c="">Build Backend Projects With Spring Boot Framework, Good Infastructure, Error Handling, Restful Api</p>
              </div>
          </div>
          <div data-v-13380a2c="" class="col-sm">
              <div data-v-13380a2c="" id="ItemThree" class="card"><img data-v-13380a2c="" src="https://img.icons8.com/cotton/64/000000/dating-website.png">
                  <p data-v-13380a2c="">Frontend Side</p>
                  <h5 data-v-13380a2c="" id="Title">Website</h5>
                  <p data-v-13380a2c="">Build Websites With Angular , Boostrap , Javascript With Restful Api, Responsive Design , Clean Code</p>
              </div>
          </div>
      </div>
      <div data-v-13380a2c="" id="SecondItem" class="row">
          <div data-v-13380a2c="" class="col-sm">
              <div data-v-13380a2c="" id="ItemThree" class="card"><img data-v-13380a2c="" src="https://img.icons8.com/cotton/64/000000/bookmark-ribbon.png">
                  <p data-v-13380a2c="">Configuration</p>
                  <h5 data-v-13380a2c="" id="Title">Plugins</h5>
                  <p data-v-13380a2c="">Design, Build (Gradle, Intellij, CLI) For Android Applications for Better Gradle Configutation</p>
              </div>
          </div>
          <div data-v-13380a2c="" class="col-sm">
              <div data-v-13380a2c="" id="ItemOne" class="card"><img data-v-13380a2c="" src="https://img.icons8.com/cotton/64/000000/source-code--v2.png">
                  <p data-v-13380a2c="">Backend Side</p>
                  <h5 data-v-13380a2c="" id="Title">Ktor Framework</h5>
                  <p data-v-13380a2c="">Build Backend Projects With Ktor Framework , Restful Api</p>
              </div>
          </div>
          <div data-v-13380a2c="" class="col-sm">
              <div data-v-13380a2c="" id="ItemTow" class="card"><img data-v-13380a2c="" src="https://img.icons8.com/cotton/64/000000/color-palette.png">
                  <p data-v-13380a2c="">Frontend Side</p>
                  <h5 data-v-13380a2c="">Design</h5>
                  <p data-v-13380a2c="">Design Application Interface , Logos With Adobe Photoshop, After Effects For Simple Animation</p>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container">
  <div class="h4 text-center mb-4 title">Professional Skills</div>
  <div class="card aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Java</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Kotlin</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Groovy</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Angular</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div><span class="progress-value">30%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Android</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">90%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Spring Boot</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">80%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-v-2c2e245b="" class="ToolsContainer">
  <h5 data-v-2c2e245b="">Tools</h5>
  <div data-v-2c2e245b="" class="scrollmenu">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/jsLogo.8b8524a4.png">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/android-logo.eb03ed7e.svg">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/docker.8250fb6c.png">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/java-logo.8309fda0.png">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/kotlin_logo.309f8ebe.png">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/gradle.9a0296da.png">
    <img data-v-2c2e245b="" src="https://angular.io/assets/images/logos/angular/angular.svg">
</div>
