.HighlightWebsite {
  height: 300px;
  margin-top: 2em;
  background-color: black;
  text-align: center;
  align-items: center;
  color: white;
}

.MainArea {
  padding-top: 4em;
  text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 50%;
    text-align: start;
    vertical-align: middle;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

h1 {
  margin: 0%;
  font-size: 2em;
}

p {
  margin: 0%;
}


.HighlightWebsite {
  color: white;
  height: 400px;
}

.MainArea {
  color: white;
  height: 300px;
}

#MwarridInfo {
  width: 50%;
}

#MwarridImg {
  width: 30%;
  margin-left: 100px;
}

.ProjectsSection {
  margin-top: 4em;
}

#myButton {
  margin: 1em;
	background-color:#000000;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:19px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}

#myButton:hover {
	background-color:#414241;
}

#myButton:active {
	position:relative;
	top:1px;
}

#buttonsContainer {
  text-align: center;
}
