@import "../base";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,600,600italic,700,700italic);

.AboutPageComponentContainer {
  padding: 4em;

  p {
    max-width: 60%;
    font-size: medium;
  }

  .Short {
    font-size: small;
    color: black;
  }

  .Buttons {
    padding-top: 2em;
  }

  .Button {
    margin-right: 1em;
    color: #fff;
    text-decoration: none;
    background-color: #2962ff;
    padding: 1em;
    margin-top: 2em;
    border-radius: .4em;
    font-size: small;
  }

  h4 {
    color: $primaryColor;
  }

  .Title {
    margin-top: 4em;
  }

  .Grid {
    display: grid;
    grid-column: 4;
    grid-template-columns: repeat(auto-fill, minmax(35vw, 0.1fr));

    p {
      margin-top: 1em;
      font-size: small;
    }
  }

  @include layoutManager($phone) {
    padding: 1em;

    h4, h6 {
      font-size: medium;
    }

    p {
      width: 100%;
      max-width: 100%;
      font-size: small;
    }

    .Short {
      font-size: x-small;
    }

    .Grid p {
      font-size: x-small;
    }

    .ContentTabs {
      span, a, p, li {
        font-size: x-small;
      }
    }

    main {
      .Buttons {
        display: grid;
        padding-top: 10px;
        a {
          margin-top: 10px;
          width: 40%;
        }
      }
    }

    main .Buttons .Button {
      font-size: x-small;
    }

  }

}