@import "../base";

.ProjectPageContainer {
  min-height: 100vh;

  .Content {
    .ProjectContent {
      display: flex;
      text-align: center;
      justify-content: center;
      place-items: center center;
      padding: 2em;
      margin-top: 2em;

      .Image {
        flex: 1;

        img {
          border-style: solid;
          border-width: 0;
          border-radius: 13px;
        }
      }

      .Description {
        flex: 1;

        .Content {
          text-align: start;

          .Name {
            display: flex;
            margin-top: 1em;

            a {
              background-color: $primaryColor;
              padding: 1em;
              margin-right: 1em;
              border-radius: 30px;
              border-style: solid;
              border-width: 0px;
              font-size: small;
              color: white;

              margin-left: 2em
            }
          }

          p {
            max-width: 70vw;
          }

          .Description {
            margin-top: 1em;
          }

          .Tags {
            display: flex;
            margin-top: 1em;

            .Item {
              background-color: $primaryColor;
              padding: 1em;
              margin-right: 1em;
              border-radius: 30px;
              border-style: solid;
              border-width: 0px;
              font-size: small;
            }
          }
        }
      }
    }
  }
}