@import "../base";

.HomePageComponentContainer {

  @include layoutManager($phone) {

    .HomeHeaderContainer {
      margin-top: 5em;

      .Container {
        display: block;

        .Item {
          padding-left: 0;
          padding-right: 0;
          text-align: center;
          margin-top: 10px;

          img {
            width: 90%;
            padding: 0;
            object-fit: contain;
            text-align: center;
          }

          .TextContent {
            text-align: start;

            .ButtonsContainer {
              display: block;

              .ResumeButton {
                width: 80%;
                margin: 1em 0 0;
              }
            }

            .Features {
              span {
                margin-right: 10px;
                font-size: xx-small;
              }
            }

            p {
              max-width: 90%;
              font-size: small;
            }
          }
        }
      }
    }

    .HomeServicesComponentContainer {
      margin-top: 9em;
      padding: 3em;

      .ItemsContainer {
        display: block;
        text-align: center;
        margin: 0;

        .ProjectComponentContainer .ProjectItem {
          border-radius: 20px;
          padding: 20px;
          border: 5px solid #000;
          background-color: $whiteColor;
          transform: scale(1);
          height: auto;
          margin: 2em;

        }

        .ServiceItem {
          width: 100%;

          .ProjectComponentContainer {
            .ProjectItem {
              margin-bottom: 2em;
            }
          }
        }
      }

      h4 {
        font-size: medium;
      }
    }

  }



}
