@import "../base";


.ProjectsContainer {
  .Toolbar_Container {
    .Content {
      .Link {
        color: black;
      }

      .Link:hover {
        color: $primaryColor;
      }

      .rounded {
        color: black;
        border-color: black;
      }
    }
  }
}

.ProjectsComponent {
  padding: 2em;
  text-align: center;
  min-height: 100vh;

  .ProjectsContainer {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(28vw,.1fr));

    .ProjectPreviewComponent {
      width: 100%;
      height: 100%;
      justify-items: center;
      align-items: center;
      padding: 5%;
      text-align: start;
      display: inline-block;
      overflow: hidden;
      position: relative;
      border: 0 solid red;
      border-radius: 5px;

      .ImageContainer {
        display: inline-block;
        overflow: hidden;
        border: 0 solid red;
        border-radius: 5px;
      }

      .Texts {
        z-index: 1000;
      }

      .Content {
        overflow: hidden;
        border: 0 solid red;
        border-radius: 5px;
      }

      img {
        border-radius: 5px;
        cursor: pointer;
        transform: scale(1);
        width: 23vw;
        height: auto;
        object-fit: cover;
        transition: .4s;
        vertical-align: middle;
        border-style: none;
        display: inline-block;
        overflow: hidden;
      }

      img:hover {
        transform: scale(1.1);
      }

      .Date {
        font-size: small;
      }
    }
  }

  .Title {
    text-align: start;

    .Links {
      display: flex;
      label {
        margin-right: 1em;
        font-size: small;
        cursor: pointer;
      }

      label:hover {
        color: $primaryColor;
        transition-duration: 1s;
      }
    }
  }
}
