@import "../base";

.ProjectsComponent {
  padding: 2em;
  text-align: center;
  min-height: 100vh;

  .ProjectsContainer {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(28vw,.1fr));

    .ProjectPreviewComponent {
      width: 100%;
      height: 100%;
      justify-items: center;
      align-items: center;
      padding: 5%;
      text-align: start;
      display: inline-block;
      overflow: hidden;
      position: relative;
      border: 0 solid red;
      border-radius: 5px;

      .ImageContainer {
        display: inline-block;
        overflow: hidden;
        border: 0 solid red;
        border-radius: 5px;
      }

      .Texts {
        z-index: 1000;
      }

      .Content {
        overflow: hidden;
        border: 0 solid red;
        border-radius: 5px;
      }

      img {
        border-radius: 5px;
        cursor: pointer;
        transform: scale(1);
        width: 23vw;
        height: auto;
        object-fit: cover;
        transition: .4s;
        vertical-align: middle;
        border-style: none;
        display: inline-block;
        overflow: hidden;
      }

      img:hover {
        transform: scale(1.1);
      }

      .Date {
        font-size: small;
      }
    }
  }

  .Title {
    text-align: start;

    .Links {
      display: flex;
      label {
        margin-right: 1em;
        font-size: small;
        cursor: pointer;
      }

      label:hover {
        color: $primaryColor;
        transition-duration: 1s;
      }
    }
  }
}

@include layoutManager($phone) {
  .ProjectsComponent {
    padding: 1em;

    p {
      font-size: small;
    }

    .Title {
      .Links {
        label {
          font-size: xx-small;
          margin-right: 10px;
        }
      }

      .ProjectsContainer {
        grid-template-columns: repeat(auto-fill,minmax(45vw,.1fr));

        .Container {
          .Texts {
            p {
              font-size: x-small;
            }

            h3 {
              font-size: medium;
            }
          }

          .ImageContainer {
            img {
              width: 38vw;
            }
          }
        }
      }
    }
  }
}