@import "../base";


.ResumePageContainer {
  .Toolbar_Container {
    .Content {
      .Link {
        color: black;
      }

      .Link:hover {
        color: $primaryColor;
      }

      .rounded {
        color: black;
        border-color: black;
      }
    }
  }
}

.ResumePageContainer {

  h4 {
    margin-top: 1em;
    color: $primaryColor;
  }


  main {
    .Content {
      padding: 2em;

      .FlexMainBlock {
        margin-top: 4em;
        display: flex;
        justify-content: space-between;

        .SecondElement {
          width: 20%;
          max-width: 20%;

          h6 {
            margin-top: 2em;
          }

          .Title {
            margin-top: 2em;
            color: black;
            font-size: medium;
          }

          .Title2 {
            margin-top: 2em;
          }

          .Tags {
            color: gray;
            font-size: small;
          }
        }

        .MainElement {
          margin: 0;
          padding: 0;
          flex: 1;

          .WorkElement {
            margin-top: 2em;
            padding-left: 2em;

            .Tags {
              color: gray;
              font-size: small;
            }

            .Title {
              color: $primaryColor;
            }

            ul {
              margin: 0;
              padding: 0;
              list-style-type: none;
              li span {
                font-size: small;
              }

              li {
                font-size: small;
              }
            }
          }
        }
      }


      .Short {
        font-size: small;
        margin-bottom: 1em;
        color: gray;
      }

      .Links {
        display: flex;
        justify-content: space-between;

        .FlexElement {
          display: flex;
          justify-content: center;
          justify-items: center;

          span {
            margin-right: 10px;
            font-size: small;

            a {
              color: black;
              font-size: small;
            }
          }
        }
      }
    }
  }

  @include layoutManager($phone) {
    main {
      .Content {
        padding: 10px;

        .Short {
          font-size: x-small;
        }

        .FlexMainBlock {
          font-size: small;
          display: block;
          h4 {
            margin-top: 0;
          }

          .SecondElement {
            width: 100%;
            max-width: 100%;
            margin: 0;

            h4 {
              margin-top: 1em;
            }
            ul li span {
              font-size: x-small;
            }

            .Tags {
              font-size: x-small;
              width: 100%;
              max-width: 100%;
            }

          }

          .MainElement {
            padding: 0;
            margin: 0;

            h4 {
              margin-top: 1em;
            }

            .WorkElement {
              margin: 0;
              padding-left: 10px;

              ul li span {
                font-size: x-small;
              }
            }
          }
        }

        .Links {
          display: block;
          margin-top: 2em;

          .FlexElement {
            width: auto;
            justify-content: left;
          }
        }
      }
    }
  }
}
