<div class="container">
  <form id="contact" action="" method="post">
    <h3>Contact Me Via Email</h3>
    <h4>Write Whatever You Want :D</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Github Account (optional)" type="text" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Web Site (optional)" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>
<div class="container" id="links" style="text-align: center; left: 2%;">
  <div class="row">
    <div class="col-sm">
      <a class="circle-link" title="Check Github Account" href="https://github.com/yazan98" target="_blank" rel="noopener">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" width="30" height="30">
      </a>
    </div>
    <div class="col-sm">
      <a class="circle-link" title="Contact Me Via Linkedin" href="https://www.linkedin.com/in/yazan-tarifi-106282192/" target="_blank" rel="noopener">
        <img src="https://cdn.onlinewebfonts.com/svg/img_137494.png" width="30" height="30">
      </a>
    </div>
    <div class="col-sm">
      <a class="circle-link" title="Join the Conversation on Gitter" href="https://stackoverflow.com/users/12858222/yt98" target="_blank" rel="noopener">
        <img src="https://icon2.cleanpng.com/20180616/ibu/kisspng-stack-overflow-stack-exchange-computer-icons-progr-reen-5b25a9c1deea65.7379467415291949459131.jpg" width="30" height="30">
      </a>
    </div>
  </div>
</div>
