/**
  * Variables inside Applications From Colors, Fonts, etc
 */
$primaryColor: rgb(41, 98, 255);
$backgroundColor: #f8f8f8;
$blackColor: #1f2326;
$whiteColor: #ffffff;
$greyColor: rgba(224, 224, 224, 0.5);

$phone: "phone";
$tab-port: "tab-portraite";
$tab-land: "tab-landscape";
$big: "bigDesktop";
