<div class="HighlightWebsite">
  <div class="MainArea">
    <p class="Header">Custom Projects Without Branding</p>
    <h1>Open Source Projects</h1>
    <p class="Description"> This section contains all the projects that work as an infrastructure and are added in all of my next programs on programming and tools that I invented in order to facilitate my life when designing programs
    </p>
    <div class="OtherContainer">
      <a routerLink="/projects">Back To Projects</a>
    </div>
</div>
</div>

<div class="CardsContainer">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Vortex</h5>
            <h6 class="card-subtitle mb-2 text-muted">Android Infrastructure, Kotlin</h6>
            <p class="card-text">Android Infrastructure That Includes The Common Cases In Any Application With Ready Configuration, Mvvm Base Code With Redux State Handling, Implementation Check The Docs To See The Features</p>
            <br>
            <a href="#" class="card-link">Vortex Docs</a>
            <a href="#" class="card-link">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Atto</h5>
            <h6 class="card-subtitle mb-2 text-muted">Android Mvp Base Code, Kotlin</h6>
            <p class="card-text">Mvp Implementation With Ready Base Code To Handle Presenters, Common Application Configuration With Gradle Plugin To Implement Gradle App Module Dpendencies With UseCases, Api Handling</p>
            <br>
            <a href="#" class="card-link">Gradle Plugin</a>
            <a href="#" class="card-link">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Ktor App</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ktor Framework Example</h6>
            <p class="card-text">Backend Project Restful Api With Mongo DB , Kotlin Api, Ktor Framework Example and This Project is An Starter Kit To Start Any Ktor Application With Common Server Side Configuration</p>
            <br>
            <a href="#" class="card-link">Github</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Groupy</h5>
            <h6 class="card-subtitle mb-2 text-muted">Graduation Project Powered By Firebase</h6>
            <p class="card-text">Graduation Project Designed With Vortex-Firebase and Firebase as a Backend Side, Firestore Database, Firebase Auth To Login, Register, Kotlin Programming Language</p>
            <br>
            <a href="#" class="card-link">View Project</a>
            <a href="#" class="card-link">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Bookie</h5>
            <h6 class="card-subtitle mb-2 text-muted">Spring Boot Application, Java</h6>
            <p class="card-text">Restful Api For Books Application and Mysql Database Implementation For Manage The Books With Restful Apis (Trainig Project) Written In Java Language</p>
            <br>
            <a href="#" class="card-link">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Thentrom</h5>
            <h6 class="card-subtitle mb-2 text-muted">Intellij IDEA Theme</h6>
            <p class="card-text">Dark Theme With Orange, Yellow Color For kotlin :P Nice Plugin For Kotlin that provides you to write kotlin code with nice orange color</p>
            <br>
            <a href="https://github.com/Yazan98/Thentrom" class="card-link">Github</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Destiny Api</h5>
            <h6 class="card-subtitle mb-2 text-muted">Spring Boot Restful Api With Kotlin</h6>
            <p class="card-text">Spring Boot With Kotlin Restful Api To Manage Restaurant Application With Recipes, Config, Security, JWT, Json Response, Error Handling, Full Project With MySql Database</p>
            <br>
            <a href="#" class="card-link">View Project</a>
            <a href="https://github.com/Yazan98/Destiny-Api" class="card-link">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Actor</h5>
            <h6 class="card-subtitle mb-2 text-muted">Spring Boot Postman Collection Generator</h6>
            <p class="card-text">Spring Boot With Gson To Generate Postman Collection From Spring Controllers And Create Json File To Import The Api's into Postman Client Writter In Kotlin Language</p>
            <br>
            <a href="#" class="card-link">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Exposer</h5>
            <h6 class="card-subtitle mb-2 text-muted">Kotlin Multi-Platform</h6>
            <p class="card-text">Kotlin Multi Platform Domain Layer Leader Lead The Domain Layer Into Shared Code, Custom Implementation For Android , IOS Layer That Handle The Local Mobile Operations</p>
            <br>
            <a href="https://github.com/Yazan98/Exposer" class="card-link">Github</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Portfolio</h5>
            <h6 class="card-subtitle mb-2 text-muted">Angular Website</h6>
            <p class="card-text">My Personal Website Writter In Angular Framework , Typescript, This Project Deployed On Github IO Pages To Manage The All Projects</p>
            <br>
            <a href="#" class="card-link">View Project</a>
            <a href="https://github.com/Yazan98/portfolio" class="card-link">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
