@import "../../../styles/base";

.ItemFilter {
  cursor: pointer;
  transition: 1s;
  font-size: small;
  text-align: center;
}

.ItemFilter:hover {
  color: $primaryColor;
}

.ProjectsDescription {
  color: $descriptionColor;
  margin-bottom: 1em;
  font-style: normal;
}

.ProjectsContainer {
  padding: 2em;
}

.Description {
  max-lines: 3;
  max-width: 90%;
  font-size: small;
  color: $descriptionColor;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 80px;
}