<div class="container">
  <div class="h4 text-center mb-4 title">Professional Skills</div>
  <div class="card aos-init aos-animate" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Java</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Kotlin</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Groovy</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Angular</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div><span class="progress-value">30%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Android</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">90%</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Spring Boot</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary aos-init aos-animate" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">80%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
