<div data-v-2c2e245b="" class="ToolsContainer">
  <h5 data-v-2c2e245b="">Tools</h5>
  <div data-v-2c2e245b="" class="scrollmenu">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/jsLogo.8b8524a4.png">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/android-logo.eb03ed7e.svg">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/docker.8250fb6c.png">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/java-logo.8309fda0.png">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/kotlin_logo.309f8ebe.png">
    <img data-v-2c2e245b="" src="https://yazan98.github.io/img/gradle.9a0296da.png">
    <img data-v-2c2e245b="" src="https://angular.io/assets/images/logos/angular/angular.svg">
</div>
