@media only screen and (min-device-width: 411px) and (max-device-width: 700px) {
  .AboutMeSectionContainer {
    .PageContent {
      padding: 20px;

      p {
        width: 100%;
        font-size: small;
      }

      .Hint {
        font-size: 8px;
      }

      .ResumeButtonCustom {
        padding: 10px;
        font-size: 10px;
      }

      .ResumeContainer {
        margin-top: 1em;
      }

      .AboutMeContainer {
        margin-top: 2em;
      }

      .Title, h4 {
        margin-top: 1em;
        font-size: small;
      }

      li {
        font-size: 8px;
      }

      ol {
        padding-left: 10px;
      }
    }
  }
}

.Title {
  margin-top: 4em;
}