p {
  margin: 0%;
}

.ProjectComponentContainer {
  .ProjectItem {
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    padding: 20px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    max-height: 300px;
    min-height: 200px;
  }

  p {
    padding: 0%;
    margin: 0%;
    font-size: x-small;
  }

  .Description {
    margin-top: 7em;
  }
}

.FooterComponent {
  padding: 8rem;
  background-color: #eeeeee;
  .TextArea {
    margin-top: 1rem;
    width: 40%;
  }

  .FooterContent {
    display: flex;
  }

  #Section {
    flex: 1;
  }

  .Area {
    text-align: center;
  }

  .TextAreaBig {
    height: 100px;
  }

  .SubmitButton {
    margin-top: 1rem;
    background-color:#2962ff;
    border-radius:7px;
    border:2px solid #2962ff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:17px;
    padding:16px 69px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    width: 40%;
  }

  .SubmitButton:active {
    position:relative;
    top:1px;
  }

  h4 {
    margin-bottom: 1rem;
    color: #2962ff;
  }

  h6 {
    margin-top: 3rem;
    color: #2962ff;
  }

  .FooterImage {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
  }

  span {
    color: #2962ff;
    margin: 0%;
    padding: 0%;
  }

  .Name {
    margin-top: 3rem;
    margin-bottom: 0;
  }
}

.MobileViewContainer {
  #AppDescription {
    width: 80%;
    padding: 5rem;
    p {
      width: 80%;
    }
  }

  .DescriptionContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
  }

  img {
    width: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.ProjectsTitle {
  text-align: center;
  color: #2962ff;
  margin-top: 5em;
}

.GithubProjectItem {
  p {
    font-size: small;
  }
}

.ProjectItem {
  margin: 30px;
  color: white;
  transform: translateY(0);
  transition: .4s ease-in-out;
  background-color: #1b1f23;
}

.ProjectItem:hover {
  border-color: #2962ff;
  transform-style: preserve-3d;
  transform-origin:center bottom;
  transform: translateY(-2%);
  transition: .4s ease-in-out;
}

.GithubProjectItem {
  p {
    color: #414141;
  }
}

td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ResumePageComponentContainer {
  .ResumeContainer {
    background-color: #1e1e1e;
  }

  .BlueSide {
    color: white;
    display: flex;
    padding-top: 10em;
    padding-left: 3em;
    overflow: hidden;
    position: relative;

    .Content {
      overflow: hidden;
      position: relative;
      width: 350px;
    }
    .vl {
      border-left: 6px solid #2962ff;
      height: 100%;
      width: 2%;
      position: absolute;
      right: 0%;
      top: 0;
    }

    .Header {
      color: #2962ff;
      margin-top: 3em;
    }

    .ng-modal-number-container {
      margin-top: 22px;
      background-color:#f5f5f5;
      border-top: 1px solid black;
      width:auto;
      display:flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
    }

    .questionNumbers {
      margin-top:-23px;
    }

    .FilledCircle {
      width:20px;
      height:20px;
      border-radius:50%;
      font-size:18px;
      color:#2962ff;
      line-height:42px;
      text-align:center;
      background:#2962ff;
      margin-left: 10px;
      float: right;
    }

    .EmptyCircle {
      width:20px;
      height:20px;
      border-radius:50%;
      font-size:18px;
      color:#515151;
      line-height:42px;
      text-align:center;
      background:#515151;
      margin-left: 10px;
      float: right;
    }

    p {
      margin-top: 0%;
    }

    .RankContainer, .CirclesContainer {
      display: flex;
      align-items: center;
      flex: 1;
    }

    .CirclesContainer {
      float: right;
      overflow: auto;
      position:absolute;
      right: 0%;
      z-index:1;
    }

  }

  .PrimaryElementContainer {
    h4 {
      margin-top: 1em;
      color:#2962ff;
    }

    h5 {
      color:#2962ff;
      width: 150px;
    }

    .DateContainer, .ContentContainer {
      display: flex;
    }

    .ContentContainer {
      overflow: hidden;
      position: relative;
    }

    .ContentContainerDescription {
      margin-left: 3em;
      overflow: auto;
      position:relative;
      left: 0%;
    }

    .SmallCircle {
      width:10px;
      height:10px;
      border-radius:50%;
      font-size:18px;
      color:#2962ff;
      line-height:42px;
      text-align:center;
      background:#2962ff;
      margin-left: 10px;
      margin-right: 20px;
      margin-top: 5px;
      float: right;
    }
  }

  .CVContent {
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    background-color: white;
  }

  .PrimaryContainer {
    margin-top: 1em;
    color:#2962ff;
  }

  .DescriptionTitle {
    width: 80%;
  }

  .ExpItem {
    margin: 0%;
  }
}

.TagItem {
  background-color: #2962ff;
  border-radius: 60px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  padding: 15px;
  text-decoration: none;
  width: auto;
  margin-right: 1em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.AppImage {
  align-content: center;
  width: 155px;
  height: 310px;
  margin: 1em;
}

.MobileButton {
  color: #2962ff;
  margin-top: 1em;
}

.AboutMeSectionContainer {

  .PageContent {
    color: black;
    padding: 5rem;
    p, h3, h4 {
      padding: 0%;
      margin: 0%;
    }

    p {
      width: 60%;
    }

    .ResumeContainer {
      margin-top: 2em;
    }

    .AboutMeContainer {
      margin-top: 8em;
    }

    .Hint {
      color: gray;
    }

    .SeperatedTitle {
      margin-top: 3em;
    }

    .CompanyLink {
      color: #2962ff;
      text-decoration: none;
    }
  }

}

.ResumeButtonCustom {
  background-color: #2962ff;
  padding: 1em;
  color: white;
  margin-top: 2em;
  text-decoration: none;
  border-radius: 0.4em;
  font-size: small;
}

.ResumeButtonCustom:hover {
  color: white;
  text-decoration: none;
}

.shadowed {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 8px #222);
}

.DenamoContainer {
  .ThemeContent {
    padding: 3rem;
    background-color: rgb(18, 22, 32);
  }
}

.ProjectsSection {
  .Item {
    margin-left: 60px;
    color: #2962ff;
  }

  #ServicesItem {
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    display: flex;
    flex: 2 1 auto;
  }
}

.ItemProjectTitle {
  color: #2962ff;
  margin-left:4rem;
  margin-bottom: 1em;
  font-size: 20px;
}

.ProjectsPageContainer {
  .ProjectsTitle {
    margin-top: 0;
  }

  .ArchiveContainer {
    text-align: center;
    .ViewArchive {
      width: 100%;
    }
  }

  .MobileItem {
    display: flex;
    .MobileRowItem {
      flex: 1;

      .DescriptionContent {
        padding: 20px;
        height: auto;
        width: 60%;
        margin-top: 20%;
        margin-left: 25%;
        h2 {
          font-size: medium;
        }
      }
    }
  }
}

.ProjectsPageContainer {
  .ProjectsSectionGithub {
    margin-bottom: 10em;
    padding-right: 250px;
    padding-left: 250px;
  }

  .Themes {
    .Container {
      display: flex;

      .ThemeContent {
        .ThemeContentProvider {
          width: 80%;
          margin-top: 15%;
          margin-left: 15%;
        }
      }

      .shadowed {
        width: 720px;
        height: 480px;
        object-fit: contain;
      }

      img {
        object-fit: contain;
        margin-left: 20px;
      }

      .ThemeItem {
        flex: 1;
      }
    }
  }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 700px) {

  .ProjectsPageContainer {
    .ProjectsTitle {
      font-size: small;
      margin-top: 20px;
    }

    .ProjectsSectionGithub {
      display: none;
    }

    .ArchiveContainer {
      text-align: center;
      padding-bottom: 10px;

      .ViewArchive {
        font-size: small;
        width: 100%;
      }
    }

    .Themes {
      .Container {
        display: block;
        width: 100%;

        .ThemeContent {
          width: 100%;
          font-size: small;
          padding: 10px;

          .ThemeContentProvider {
            width: 100%;
            margin-top: 0;
            margin-left: 0;
            padding: 10px;
            p {
              font-size: small;
            }

            .ResumeButtonCustom {
              font-size: small;
            }
          }
        }

        .shadowed {
          width: 380px;
          object-fit: contain;
          text-align: center;
          height: auto;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        img {
          object-fit: contain;
          margin-left: 15px;
        }

      }
    }

    .MobileItem {
      display: block;
      .MobileRowItem {
        margin-top: 0;

        img {
          width: 400px;
          text-align: center;
          object-fit: contain;
          margin-right: 0;
        }

        .DescriptionContent {
          padding: 20px;
          width: 100%;
          margin-left: 0;
          margin-top: 0;
          height: auto;
          font-size: small;

          h2 {
            font-size: medium;
          }
        }
      }
    }
  }

  .HomePageContainer {
    .ItemProjectTitle {
      margin-left: 0;
      font-size: large;
      color: #2962ff;
    }
  }
  .ProjectsSection {
    h4 {
      margin: 0;
      text-align: center;
    }

    #ServicesItem {
      margin-right: 0;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .col-md-3 {
      padding-right: 0;
      text-align: center;
    }

    .ProjectComponentContainer {
      width: auto;
      width: 430px;
    }
  }

  .ImagesContainer {
    .col {
      display: flex;
      scroll-behavior: smooth;
      width: 500px;
      height: 100px;
      white-space: nowrap;
      position: relative;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      img {
        float: none;
        margin: 10%;
        object-fit: contain;
        display: inline-block;
        zoom: 1;
      }
    }
  }

  .FooterComponent {
    padding: 20px;
    p {
      font-size: small;
    }

    .FooterContent {
      display: block;
    }

    .Area {
      text-align: left;
    }

    .TextArea, .SubmitButton {
      width: 100%;
      text-align: center;
    }
  }
}

