
.ToolbarComponent {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
    }

    li {
        float: left;
    }

    li:last-child {
        border-right: none;
    }

    li a {
        display: block;
        text-align: center;
        padding: 10px 5px;
        text-decoration: none;
        transition: all .1s ease-in;
        color: black;
    }

    li a:hover:not(.active) {
        color: #2962ff;
    }

    .active {
        color: #2962ff;
    }
}

.active {
    margin-left: 50px;
}

.FinalItem {
    margin-right: 50px;
    float: right;
}

@media  only screen and (min-device-width: 411px) and (max-device-width: 700px) {
    .active {
        margin-left: 10px;
    }

    .Item {
        font-size: small;
    }

    .FinalItem {
        font-size: small;
        margin-right: 30px;
        float: right;
    }
}