
.ToolbarComponent {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
    }

    li {
        float: left;
    }

    li:last-child {
        border-right: none;
    }

    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: all .1s ease-in;
        color: black;
    }

    li a:hover:not(.active) {
        color: #2962ff;
    }

    .active {
        color: #2962ff;
    }
}