@import "../base";

.AllProjectsContainer {

  .MainContent {
    margin-top: 3em;
    grid-auto-columns: max-content;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    justify-items: center;
    display: grid;
    justify-content: center;

    .SearchFields {
      display: flex;
      text-align: center;
      padding: 1em;

      .SelectorController {
        margin-left: 1em;
        text-align: left;
      }
    }

    h1, div {
      width: 300px;
    }

  }

  .ProjectsContainer {
    grid-auto-columns: max-content;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    justify-items: center;
    display: grid;
    justify-content: center;
  }
}