@import "../base";

.Container {
  margin-top: 5em;

  @include layoutManager($phone) {
    margin-top: 1em;
  }

  .Title {
    margin-bottom: 2em;

    h4 {
      color: $primaryColor;
      margin: 0;
    }

    p {
      font-size: small;
      margin: 0;
    }
  }

  .GridItemContainer {
    text-align: center;

    .GridContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(28vw, 0.1fr));
      grid-gap: 1em;

      .ItemContainer {
        display: inline-block;
        overflow: hidden;
        position: relative;
        border: 0px solid red;
        border-radius: 5px;

        .HoverItems:hover {
          background-color: white;
          width: 100%;
          z-index: 1000;

          .ItemsContainer {
            width: 100%;
          }
        }

        .HoverItems {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1000;
          transition: 0.4s;
          width: 100%;
          height: 100%;
          overflow: hidden;

          .ItemsContainer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-items: center;
            align-items: center;
            text-align: center;
            padding: 5%;
            transition: 0.5s;

            .Components {
              display: block;
              text-align: start;
              width: 0%;
              overflow: hidden;

              p {
                font-size: small;
              }

              h4 {
                color: $primaryColor;
              }
            }
          }

          .ItemsContainer:hover {
            width: 100%;
          }
        }

        .PrimaryItem {
          width: auto;

          img {
            width: 28vw;
            object-fit: cover;
            transition: 0.4s;
          }
        }
      }

      .ItemContainer:hover {

        .PrimaryItem {
          img {
            transform: scale(1.1);
          }
        }

        .HoverItems {
          background-color: white;
          width: 100%;
          z-index: 1000;
          display: block;

          .ItemsContainer {
            width: 100%;

            .Components {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @include layoutManager($phone) {
    .Title {
      margin-bottom: 1em;

      h4 {
        font-size: medium;
      }

      p {
        font-size: x-small;
      }
    }

    .GridItemContainer {
      .GridContainer {
        text-align: center;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;

        .ItemContainer {
          .HoverItems {
            .ItemsContainer {
              .Components {
                h4 {
                  font-size: small;
                }

                p {
                  font-size: x-small;
                }
              }
            }
          }

          .PrimaryItem {
            width: auto;

            img {
              width: 100%;
              object-fit: cover;
              transition: 0.4s;
            }
          }
        }
      }
    }

  }

}
