@import "../base";
@import "../utils";

.HomeServicesComponentContainer {
  margin-top: 7em;
  padding: 4em;

  .ItemsContainer {
    display: grid;
    grid-template-columns: 18em 18em 18em;
    grid-column-gap: 2em;
    grid-row-gap: 1em;

    .ServiceItem {
      margin-top: 1em;
      padding: 0;

      .ProjectComponentContainer:hover {
        z-index: 1000;
      }

      .ProjectComponentContainer .ProjectItem {
        border-radius: 20px;
        padding: 20px;
        border: 5px solid #000;
        background-color: $whiteColor;
        transform: scale(1);
        height: 13em;
        margin: 0 !important;
      }

      .ProjectItem {
        transition: .4s ease-in-out;
        color: #1b1f23;

        h5 {
          font-size: medium;
        }

        .Description {
          margin-top: 5em;
        }

        p {
          padding: 0;
          margin: 0;
          font-size: x-small;
        }
      }

      .ProjectItem:hover {
        color: #1b1f23;
        border: 5px solid $primaryColor;
        transform: scale(1.1);
        z-index: 10;

        h5 {
          color: $primaryColor;
        }
      }

    }
  }
}

.ThemesItems {
  padding: 0em;
  margin-top: 4em;

  .ThemesSectionComponent {


    .Title {
      margin-bottom: 2em;

      h4 {
        color: $primaryColor;
        margin: 0;
      }

      p {
        font-size: small;
        margin: 0;
      }
    }



    .Item {
      display: flex;

      .Icon {
        flex: 1;

        img {
          width: 900px;
          -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(5px 5px 5px #222);
          object-fit: contain;
        }
      }

      .Description {
        display: flex;
        justify-items: center;
        align-items: center;

        h4 {
          color: $primaryColor;
        }

        p {
          margin: 0;
          font-size: small;
          max-width: 70%;
        }

        .Button {
          margin-top: 1em;

          a {
            background-color: $primaryColor;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 7px;
            padding: 15px 16px;
            display: inline-block;
            font-weight: 600;
            font-size: 12px;
            cursor: pointer;
          }

        }

      }

    }

    @include layoutManager($phone) {
      padding: 1em;

      .Title {
        margin-bottom: 1em;

        h4 {
          font-size: medium;
        }

        p {
          font-size: x-small;
        }
      }

      .Item {
        display: block;

        .Icon {
          img {
            width: 100%;
            -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 5px #222);
            object-fit: contain;
          }
        }


        .Description {
          display: block;
          .Content {
            h4 {
              font-size: medium;
            }

            p {
              font-size: x-small;
            }

            .Button a {
              font-size: xx-small;
            }
          }
        }
      }
    }

  }

  @include layoutManager($phone) {
    padding: 0;
    margin: 0;
    margin-top: 1em;
  }
}

.WebsitesContainer {
  padding: 4em;

  .Title {
    margin-bottom: 2em;

    h4 {
      color: $primaryColor;
      margin: 0;
    }

    p {
      font-size: small;
      margin: 0;
    }
  }

  .Content {

    .Item {
      text-align: center;
      display: flex;
      margin-top: 6em;

      .TextContent {
        display: flex;
        justify-items: center;
        align-items: center;

        .Content {
          text-align: start;

          .Tags {
            display: flex;
            margin-top: 1em;
            width: 100%;

            span {
              margin-right: 10px;
              color: white;
              background-color: $primaryColor;
              border: none;
              text-align: center;
              text-decoration: none;
              border-radius: 20px;
              padding: 10px 1em;

            }
          }

          h4 {
            color: $primaryColor;
          }
          p {
            margin: 0;
            font-size: small;
            max-width: 70%;
          }
        }

      }
    }

    .Icon {
      flex: 1;

      .Image {
        object-fit: contain;
        width: 60%;
      }
    }

  }

  @include layoutManager($phone) {
    padding: 1em;

    .Title {
      margin-bottom: 1em;
      margin-top: 2em;

      h4 {
        font-size: medium;
      }

      p {
        font-size: x-small;
      }
    }

    .Content {
      .Item {
        text-align: center;
        display: block;
        margin-top: 2em;

        .TextContent {
          .Content {
            p {
              max-width: 90%;
              width: 90%;
            }

            .Tags {
              margin: 0;
              width: 85%;
              max-width: 85%;
              overflow: auto;
              white-space: nowrap;

              span {
                font-size: x-small;
                margin-top: 1em;
              }
            }
          }
        }

        .Icon {
          flex: 1;

          .Image {
            margin-top: 2em;
            margin-bottom: 1em;
            object-fit: contain;
            width: 100%;
          }
        }
      }
    }
  }
}