@import "../base";


.Toolbar_Container .Content {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  place-items: center center;
  margin: 0;
}

.Toolbar_Container .Content h3 {
  color: $primaryColor;
  font-family: 'Caveat', cursive;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

.Toolbar_Container .Content .Links {
  display: flex;
  justify-content: center;
  place-items: center;
}

.Toolbar_Container .Content .Links > a {
  margin-right: 1em;
  height: auto;
  color: white;
}

.Toolbar_Container .Content .Links > #rounded {
  border-radius: 30px;
  padding: 5px 10px;
  border: 1px solid white;
  font-size: small;
  transition: 1s;
}

.Toolbar_Container .Content .Links > #filled-rounded {
  border-radius: 30px;
  padding: 5px 10px;
  border: 1px solid white;
  font-size: small;
  transition: 1s;
}


.active {
  color: $primaryColor;
}

a:hover {
  color: $primaryColor;
  transition-duration: 0.5s;
}


#rounded:hover {
  color: white;
}


.Container .PageHeaderComponent {
  height: 100vh;
  background: rgb(238,205,163);
  background: linear-gradient(61deg, rgba(238,205,163,1) 0%, rgba(239,98,159,1) 100%);
}

.Container .PageHeaderComponent .HomeHeaderContainer {
  display: flex;
  flex: 1;
  color: white;
}

.Container .PageHeaderComponent .Description {
  flex: 1;
  display: flex;
  justify-content: center;
  place-items: center center;
  height: 90vh;
  color: white;
}

.Container .PageHeaderComponent .Image {
  flex: 1;
  display: flex;
  justify-content: center;
  place-items: center center;
  height: 90vh;
}

.Container .PageHeaderComponent .Description .Content {
  max-width: 70%;
  color: white;
}

.Description .Content .SubTitle {
  font-size: small;
}

.Description .Content  label {
  color: $primaryColor;
  font-size: xx-large;
}

.Container .PageHeaderComponent .Image {
  flex: 1;
}

.Circle {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: $primaryColor;
  margin-right: 5px;
  margin-top: 2px;
}

span {
  font-size: small;
}


.Tags {
  display: flex;
  color: white;
}

.DescriptionText, .SubTitle {
  color: white;
}

.Tags span {
  margin-right: 1em;
}

.BigArea {
  margin-top: 1em;
  color: white;
}

.Buttons {
  margin-top: 1em;
  display: flex;
}

.HeaderButton {
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 10px 18px;
  display: inline-flex;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  transition: 1s;
}

.Button2 {
  margin-left: 1em;
}

.HeaderButton:hover {
  color: white;
}

.Technologies {
  margin-top: 1em;
  display: flex;
}

.TechTitle {
  color: white;
  margin-top: 1.5em;
}

.Technologies {
  display: grid;
  margin-top: 0.3em;
  grid-template-columns: repeat(2, minmax(140px, 400px));
  padding: 0px;
  overflow: hidden;
  list-style: none;
  grid-row-gap: 5px;
}

.Technologies li {
  font-size: smaller;
}

.HeaderLinks {
  flex: 0.1;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative;

  .Content {
    display: block;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;

    .LineContainer {
      width: 1px;
      height: 100px;
      margin: auto;
      text-align: center;
      left: 50%;

      hr {
        border-left: 1px solid white;
        border-bottom: 0px;
        border-top: 0px;
        border-right: 0px;
        width: 1px;
        height: 100px;
        margin: auto;
        text-align: center;
        left: 50%;
      }
    }

    img {
      margin-bottom: 1em;
      cursor: pointer;
    }
  }
}

