@import "../base";

.ProjectsContainer {
  margin-top: 2em;

  .Title {
    margin-bottom: 2em;

    h4 {
      color: $primaryColor;
      margin: 0;
    }

    p {
      font-size: small;
      margin: 0;
    }
  }

  .Content {
    .HomeServicesComponentContainer {
      margin-top: 1em;
      padding: 0;

      .ItemsContainer {
        display: grid;
        grid-template-columns: 18em 18em 18em;
        grid-column-gap: 2em;
        grid-row-gap: 1em;

        .ServiceItem {
          margin-top: 1em;
          padding: 0;

          .ProjectComponentContainer:hover {
            z-index: 1000;
          }

          .ProjectComponentContainer .ProjectItem {
            border-radius: 20px;
            padding: 20px;
            border: 5px solid #000;
            background-color: $whiteColor;
            transform: scale(1);
            height: 13em;
            margin: 0 !important;
          }

          .ProjectItem {
            transition: .4s ease-in-out;
            color: #1b1f23;

            h5 {
              font-size: medium;
            }

            .Description {
              margin-top: 5em;
            }

            p {
              padding: 0;
              margin: 0;
              font-size: x-small;
            }
          }

          .ProjectItem:hover {
            color: #1b1f23;
            border: 5px solid $primaryColor;
            transform: scale(1.1);
            z-index: 10;

            h5 {
              color: $primaryColor;
            }
          }

        }
      }
    }

  }

  @include layoutManager($phone) {

    .Content {
      .HomeServicesComponentContainer {
        margin-top: 0em;
        padding: 0.5em;

        .ItemsContainer {
          display: block;
          text-align: center;
          margin: 0;

          .ProjectComponentContainer .ProjectItem {
            border-radius: 20px;
            padding: 20px;
            border: 5px solid #000;
            background-color: $whiteColor;
            transform: scale(1);
            height: auto;
            margin: 2em;

          }

          .ServiceItem {
            width: 100%;

            .ProjectComponentContainer {
              .ProjectItem {
                margin-bottom: 2em;
              }
            }
          }
        }
      }
    }
    .Title {
      margin-bottom: 1em;

      h4 {
        font-size: medium;
      }

      p {
        font-size: x-small;
      }
    }
  }
}