@import "../base";

.SkillsComponentContainer {
  background-color: black;
  .ToolbarComponentContainer .Links .ToolbarLink {
    color: white;
  }

  .Content {
    display: flex;
    justify-items: center;
    align-items: center;

    #tag {
      width:90vw;
      height:90vh;
      text-align: center;
    }
  }

}

