@import "../base";

.Toolbar_Container .Content {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  place-items: center center;
  margin: 0;
}

.Toolbar_Container .Content .h3 {
  color: $primaryColor;
  font-family: 'Caveat', cursive;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

.Toolbar_Container .Content .Links {
  display: flex;
  justify-content: center;
  place-items: center;
}

.Toolbar_Container .Content .Links > a {
  margin-right: 1em;
  height: auto;
}

.Toolbar_Container .Content .Links .ThemeIcon .ThemeImage {
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
}

.Toolbar_Container .Content .MobileOptions {
  width: 1.3em;
  height: 1.3em;
  display: none;
}

#rounded {
  border-radius: 30px;
  padding: 5px 10px;
  border: 1px solid white;
  font-size: small;
  transition: 1s;
}


.HeaderButton {
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 10px 18px;
  display: inline-flex;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  transition: 1s;
}


.HeaderButton:hover {
  color: white;
}


a:hover {
  color: $primaryColor;
  transition-duration: 0.5s;
}


#rounded:hover {
  color: white;
}

.NormalView {
  .Content {
    .Links {

      .Link:hover {
        color: $primaryColor;
      }

      .rounded {
        color: black;
        border-color: black;
        border-width: 1px;
      }
    }
  }
}

@include layoutManager($phone) {
  .Toolbar_Container .Content .MobileOptions {
    display: block;
  }

  .Toolbar_Container .Content .Links {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
