<div class="HighlightWebsite">
  <div class="MainArea">
    <h1 class="MainVortex">Vortex</h1>
    <p class="Description">Android Infrastructure Built With Kotlin To Build High Level Multi Modular Android Applications</p>
    <p>
      <a class="button is-white is-outlined" style="margin-right: 0.75rem" routerLink="/projects/vortex/docs">Vortex Docs</a>
      <a class="button is-white is-outlined" href="https://github.com/Yazan98/Vortex">
        <span class="icon"><i class="fa fa-github"></i></span><span id="Source">Source On Github</span></a>
      </p>
</div>
</div>

<section class="Features">
  <div class="container">
    <div class="row">
      <div class="col-sm" id="Item">
        <p class="bg">
          <img src="https://user-images.githubusercontent.com/29167110/80116087-70513d80-857d-11ea-888e-283b903d8ab4.png" width="40" height="40">
        </p>
        <h2>Multi Modular Applications</h2>
        <h4>Build Multi Modular Android Applications With Clean Layers Implementation</h4>
      </div>
      <div class="col-sm" id="Item">
        <p class="bg">
          <img src="https://user-images.githubusercontent.com/29167110/80117192-c4a8ed00-857e-11ea-9ccf-8ad2f3ced60b.png" width="40" height="40">
        </p>
        <h2>Base Code</h2>
        <h4>Base Code Ready To Use With Common UseCases In Any Android Application</h4>
      </div>
      <div class="col-sm" id="Item">
        <p class="bg">
          <img src="https://user-images.githubusercontent.com/29167110/80117747-734d2d80-857f-11ea-8f35-b54b235f3631.png" width="40" height="40">
        </p>
        <h2>Latest Technologies</h2>
        <h4>Vortex Used and Combined The Latest Technologies Into One Base Code</h4>
      </div>
      <div class="col-sm" id="Item">
        <p class="bg">
          <img src="https://user-images.githubusercontent.com/29167110/80118211-fff7eb80-857f-11ea-9b9d-c772cba98689.png" width="40" height="40">
        </p>
        <h2>Open Source</h2>
        <h4>Vortex Built With ♥ Kotlin In Open Source Repository On Github</h4>
      </div>
    </div>
  </div>

</section>

<section class="UniqueFeatures">
  <h2>Unique Features</h2>
  <h4>The Main Features In Vortex With Simple OverView About The Project Structure</h4>
  <div class="container">
    <div class="row" id="textSection">
      <div class="col-sm">
        <div class="card" style="width: 32rem;">
          <div class="row">
            <div class="col-2" style="width: 10rem;">
              <img class="CardImage" width="40" height="40" src="http://digidocs.gbjsolution.com/content/images/2020/02/startup.svg" alt="Getting Started" >
            </div>
            <div class="col-10" style="width: 100rem;">
              <h5 class="card-title">Getting Started</h5>
              <h5 class="card-title-2">Check And Understand Vortex Concept With State Architecture With Vortex Layers Implementation, How The Components Works Together</h5>
              <a class="card-text" routerLink ="/projects/vortex/docs" routerLinkActive="router-link-active" >Welcome To Vortex</a><br>
              <a class="card-text">OverView About Vortex Structure</a><br>
              <a class="card-text">Vortex Problem</a><br>
              <a class="card-text">Supported Applications</a><br>
              <a class="card-text-all">See All <svg class="ArrowImage" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 13h11.86l-3.63 4.36a1 1 0 0 0 1.54 1.28l5-6a1.19 1.19 0 0 0 .09-.15c0-.05.05-.08.07-.13A1 1 0 0 0 20 12a1 1 0 0 0-.07-.36c0-.05-.05-.08-.07-.13a1.19 1.19 0 0 0-.09-.15l-5-6A1 1 0 0 0 14 5a1 1 0 0 0-.64.23 1 1 0 0 0-.13 1.41L16.86 11H5a1 1 0 0 0 0 2z"></path></svg></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 32rem;">
          <div class="row">
            <div class="col-2" style="width: 10rem;">
              <img class="CardImage" width="40" height="40" src="http://digidocs.gbjsolution.com/content/images/2020/02/gears.svg" alt="Getting Started" >
            </div>
            <div class="col-10" style="width: 100rem;">
              <h5 class="card-title">Configuration</h5>
              <h5 class="card-title-2">How Vortex Can Configure The Android Applications With Single / Multi Modular Apps With Common Libraries</h5>
              <a class="card-text">Vortex With Gradle Configuration</a><br>
              <a class="card-text">Vortex With Multi Modular Apps</a><br>
              <a class="card-text">Vortex Problem</a><br>
              <a class="card-text-all">See All <svg class="ArrowImage" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 13h11.86l-3.63 4.36a1 1 0 0 0 1.54 1.28l5-6a1.19 1.19 0 0 0 .09-.15c0-.05.05-.08.07-.13A1 1 0 0 0 20 12a1 1 0 0 0-.07-.36c0-.05-.05-.08-.07-.13a1.19 1.19 0 0 0-.09-.15l-5-6A1 1 0 0 0 14 5a1 1 0 0 0-.64.23 1 1 0 0 0-.13 1.41L16.86 11H5a1 1 0 0 0 0 2z"></path></svg></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" id="textSection">
      <div class="col-sm">
        <div class="card" style="width: 32rem;">
          <div class="row">
            <div class="col-2" style="width: 10rem;">
              <img class="CardImage" width="40" height="40" src="http://digidocs.gbjsolution.com/content/images/2020/02/puzzle.svg" alt="Getting Started" >
            </div>
            <div class="col-10" style="width: 100rem;">
              <h5 class="card-title">Components</h5>
              <h5 class="card-title-2">What is Vortex Components And How To Combine Them In One Feature</h5>
              <a class="card-text">Vortex UI Components</a><br>
              <a class="card-text">Vortex Data Components</a><br>
              <a class="card-text">Vortex Domain Components</a><br>
              <a class="card-text">Vortex Extras Compoenents</a><br>
              <a class="card-text-all">See All <svg class="ArrowImage" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 13h11.86l-3.63 4.36a1 1 0 0 0 1.54 1.28l5-6a1.19 1.19 0 0 0 .09-.15c0-.05.05-.08.07-.13A1 1 0 0 0 20 12a1 1 0 0 0-.07-.36c0-.05-.05-.08-.07-.13a1.19 1.19 0 0 0-.09-.15l-5-6A1 1 0 0 0 14 5a1 1 0 0 0-.64.23 1 1 0 0 0-.13 1.41L16.86 11H5a1 1 0 0 0 0 2z"></path></svg></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 32rem;">
          <div class="row">
            <div class="col-2" style="width: 10rem;">
              <img class="CardImage" width="40" height="40" src="http://digidocs.gbjsolution.com/content/images/2020/02/graphic-design.svg" alt="Getting Started" >
            </div>
            <div class="col-10" style="width: 100rem;">
              <h5 class="card-title">Customization</h5>
              <h5 class="card-title-2">Vortex CLI to Generate Android Applications With Ready Implementation and Generate Custom Features Via Android Studio Plugin</h5>
              <a class="card-text">Vortex CLI</a><br>
              <a class="card-text">CLI Features, Components</a><br>
              <a class="card-text">Vortex Android Studio Plugin</a><br>
              <a class="card-text-all">See All <svg class="ArrowImage" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 13h11.86l-3.63 4.36a1 1 0 0 0 1.54 1.28l5-6a1.19 1.19 0 0 0 .09-.15c0-.05.05-.08.07-.13A1 1 0 0 0 20 12a1 1 0 0 0-.07-.36c0-.05-.05-.08-.07-.13a1.19 1.19 0 0 0-.09-.15l-5-6A1 1 0 0 0 14 5a1 1 0 0 0-.64.23 1 1 0 0 0-.13 1.41L16.86 11H5a1 1 0 0 0 0 2z"></path></svg></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
