<div class="HighlightWebsite">
  <div class="MainArea">
    <h1 class="MainVortex">Vortex</h1>
    <p class="Description">Android Infrastructure Built With Kotlin To Build High Level Multi Modular Android Applications</p>
    <p>
      <a class="button is-white is-outlined" style="margin-right: 0.75rem" href="https://docs.antora.org/antora/latest/install/install-antora/"><span>Vortex Docs</span></a>
      <a class="button is-white is-outlined" href="https://gitlab.com/antora/antora">
        <span class="icon"><i class="fa fa-github"></i></span><span id="Source">Source On Github</span></a>
      </p>
</div>
</div>
