* {
  font-family: 'Noto Sans SC', sans-serif;
  scroll-behavior: smooth;
}

div {
  padding: 0%;
  margin: 0%;
}

li {
  margin: 0%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.App {
  overflow-x: hidden;
}